.students {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 5%;
}

.box {
  border: 1px solid cyan;
  border-radius: 5px;
  background-color: rgba(7, 126, 126, 0.452);
  flex-basis: calc(250px + 10vmax);
  text-align: center;
}

form {
  width: 88vw;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #121212;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  min-width: 250px;
  max-width: 500px;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: calc(14px + 2vmin);
}

form#edit,
form#delete {
  text-align: left;
  background-color: transparent;
  width: 25vw;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px 15px;
  box-sizing: border-box;
  min-width: 250px;
  max-width: 500px;
  margin-bottom: 4%;
  font-size: calc(14px + 2vmin);
}

.formControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  margin: 5px auto;
  width: 100%;
  font-size: calc(7px + 2vmin);
}

.formControl input {
  margin-top: 7px;
  background-color: #232323;
  border: none;
  outline: none;
  width: 94%;
  padding: 10px 12px;
  border-radius: 4px;
  background-color: #232323;
  color: #999999;
}

input[type="submit"] {
  width: 100%;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
  background-color: rgba(63, 182, 182, 0.767);
  color: white;
  cursor: pointer;
}
